html {
	width: 100%;
    height: 90vh;
}
body {
	width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#telo{
	width: 100%;
    height: 100%;
}
#root{
	width: 100%;
    height: 100%;
}
.App{
    align-content: center; 
    max-width: 1000px;
    height: 100%;
    margin: auto;
    border: 0.5rem solid black;
    height: 1000px;
}
.authorPage{
    color: white;
    text-decoration: none;
}
header{
    height: 10%;
    width: 100%;
}
footer{
    height:4%;
    width: 100%;

}
.menubar{
    background-color: gray;
    display: flex;
    width: 100%;
    height:5%;
}
.menuitem{
    text-align: center;
    width: 15%;
    color: black;
    text-decoration: none;
}
.statusbar{
    background-color: #E4E4E7;
    display: flex;
    width: 100%;
    height:8%;
}
.statusitem{
    text-align: right;
    width: 77%;
}
.maincontainer{
    height: 81%;
    width: 100%;
}
#formtitle{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.loginForm{
    align-content: center; 
    width: 60%;
    margin-left:20%;

}
.loginFormItem{
    margin-top: 10px;
    width: 51%;
    margin-left: 24%;
}
.showQuestionsBoard{
    max-width: 100%;
    height: 80%;
    align-items: center; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}
.showQuestionsBoard2{
    width: 95%;
    height: 100%;
}
.questions{
    max-width: 100%;
    height: 80%;
    display: flex;
}
.voteicon{
    width: 200px;
    height: 120px;
    flex-shrink: 0;
    margin-left: 2%;
    margin-top:1%;
    border: 1px solid;
    border-color: black;
    background-color: #E4E4E7; 
    float: left;
    color: #E4E4E7;
}
.blokVariants{
    width: 100%;
    height: 70%; 
    flex-shrink: 0;
    padding-top: 10px;
    color: black;
    
}

.blokQuestion{
    width: 100%;
    height: 30%; 
    flex-shrink: 0;
    padding-top: 10px;
    color: black;
    padding-left: 15%;
    text-decoration: none;
    
}
button.btnVariant{
    width: 95px;
    height: 70px;
    margin-left: 3px;
    background-color: grey;
    color: white;
    vertical-align: top;
}
.regLink{
    margin-left: 55%;
}
.statusstring{
    margin-right: 5%;
}
.btnsBoard{
    min-width: 20px;
    width: 5%;
    height: 100%;
}
.questBtns{
    width: 100%;
    height: 25%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
#welcome{
    margin-top: 20%;
    margin-left: 45%;
    margin-bottom: 40%;
}
